<!DOCTYPE html>
<html>
<head>
  <title>Rabbit</title>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application' %>
</head>

<body>

<div style="width: 800px;padding: 5px 5px;margin: 0 auto;border-left: 1px solid darkgray;border-right: 1px solid darkgray;">
  <%= yield %>
</div>

</body>
</html>
