<!DOCTYPE html>
<html>
<head>
  <title>Rabbit</title>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application' %>
</head>

<body>

<div style="width: 800px;margin: 0 auto;">
  <%= yield %>
</div>

</body>
</html>
