<!DOCTYPE html>
<html>
<head>
  <title>Rabbit</title>
  <%= stylesheet_link_tag 'login' %>
  <%= javascript_include_tag 'login' %>

  <%= csrf_meta_tags %>
</head>

<body>
  <%= yield %>
</body>
</html>
