<style type="text/css">

  @font-face {
    font-family: 'xiaosu';
    src: url('/fonts/LCALLIG.eot');
    src: url('/fonts/LCALLIG.woff') format('woff'),
    url('/fonts/LCALLIG.ttf') format('truetype');
  }

    .custom_font{
      font-family: 'xiaosu';
    }

</style>



<a href="http://api.rubyonrails.org/classes/ActionView/Helpers/AssetUrlHelper.html">AssetUrlHelper.html</a>


<p class="custom_font">css3 自定义字体 we never talk anymore </p>

<p  class="custom_font">关于字体存放路径，"/fonts" => "public/fonts/"，肯定可以生效，其他的待测试</p>


